[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-login = "*"
flask-bcrypt = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
marshmallow = "*"

[dev-packages]

[requires]
python_version = "3.10"
